# Harvested from https://developer.stubhub.com/api-reference/account (Redoc SSR)
# method: searched  source: developer.stubhub.com  generated: 2026-07-21
openapi: 3.0.3
info:
  title: StubHub Account API
  version: v2
  description: StubHub Account API — manage the authenticated user, their addresses, and payment methods.
  contact:
    name: StubHub API Support
    email: api.support@stubhub.com
    url: https://developer.stubhub.com/
  x-media-type: application/hal+json
servers:
- url: https://api.stubhub.net
  description: Production
- url: https://sandbox.api.stubhub.net
  description: Sandbox
security:
- oauth2: []
tags:
- name: Addresses
- name: PaymentMethods
- name: User
paths:
  /addresses:
    get:
      operationId: Addressess_GetUserAddresses
      summary: List addresses
      tags:
      - Addressess
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': &id001
          description: Bad Request. Error `code` may be https_required, user_agent_required, invalid_request_body, or validation_failed.
          content:
            application/hal+json: {}
        '401': &id002
          description: Unauthorized. The request is not authenticated.
          content:
            application/hal+json: {}
        '403': &id003
          description: Forbidden. Error `code` may be insufficient_scope, invalid_seller_listing_action, create_listing_not_allowed,
            or invalid_delete.
          content:
            application/hal+json: {}
        '500': &id004
          description: Internal Server Error (`internal_server_error`).
          content:
            application/hal+json: {}
      security:
      - oauth2: []
    post:
      operationId: Addressess_Post
      summary: Create an address
      tags:
      - Addressess
      responses:
        '201':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2: []
  /addresses/{addressId}:
    get:
      operationId: Addressess_Get
      summary: Get an address
      tags:
      - Addressess
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2: []
    patch:
      operationId: Addressess_Patch
      summary: Update an address
      tags:
      - Addressess
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2: []
    delete:
      operationId: Addressess_Delete
      summary: Delete an address
      tags:
      - Addressess
      responses:
        '204':
          description: Deleted.
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: addressId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2: []
  /paymentmethods:
    get:
      operationId: PaymentMethods_GetPaymentMethods
      summary: List payment methods
      tags:
      - PaymentMethods
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - read:payment
  /paymentmethods/{paymentMethodId}:
    get:
      operationId: PaymentMethods_GetPaymentMethod
      summary: Get a payment method
      tags:
      - PaymentMethods
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: paymentMethodId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:payment
  /listings/{listingId}/paymentmethods:
    put:
      operationId: PaymentMethods_GetListingPaymentMethods
      summary: List payment methods for a listing
      tags:
      - PaymentMethods
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:payment
  /user:
    get:
      operationId: User_Get
      summary: Get the authenticated user
      tags:
      - User
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2: []
    patch:
      operationId: User_Patch
      summary: Update the authenticated user
      tags:
      - User
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2: []
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2. All API requests must be authenticated.
      flows:
        clientCredentials:
          tokenUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
        authorizationCode:
          authorizationUrl: https://account.stubhub.com/authorize
          tokenUrl: https://account.stubhub.com/oauth2/token
          refreshUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
            read:payment: Read-only access to the user's payments.
            read:sales: Read access to the user's sales.
            write:sales: Write access to the user's sales (confirm and fulfill sales).
            read:sellerlistings: Read access to the user's listings.
            write:sellerlistings: Write access to the user's listings (create and update listings).
            read:webhooks: Read access to the user's webhooks.
            write:webhooks: Write access to the user's webhooks.
            write:requestedevents: Write access to the user's requested events.
