# Harvested from https://developer.stubhub.com/api-reference/webhooks (Redoc SSR)
# method: searched  source: developer.stubhub.com  generated: 2026-07-21
openapi: 3.0.3
info:
  title: StubHub Webhooks API
  version: v2
  description: StubHub Webhooks API — register and manage webhooks that notify your application of sales and listing events.
  contact:
    name: StubHub API Support
    email: api.support@stubhub.com
    url: https://developer.stubhub.com/
  x-media-type: application/hal+json
servers:
- url: https://api.stubhub.net
  description: Production
- url: https://sandbox.api.stubhub.net
  description: Sandbox
security:
- oauth2: []
tags:
- name: Topics
- name: Webhooks
paths:
  /webhooks:
    get:
      operationId: Webhooks_Get
      summary: List webhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': &id001
          description: Bad Request. Error `code` may be https_required, user_agent_required, invalid_request_body, or validation_failed.
          content:
            application/hal+json: {}
        '401': &id002
          description: Unauthorized. The request is not authenticated.
          content:
            application/hal+json: {}
        '403': &id003
          description: Forbidden. Error `code` may be insufficient_scope, invalid_seller_listing_action, create_listing_not_allowed,
            or invalid_delete.
          content:
            application/hal+json: {}
        '500': &id004
          description: Internal Server Error (`internal_server_error`).
          content:
            application/hal+json: {}
      security:
      - oauth2:
        - read:webhooks
    post:
      operationId: Webhooks_Post
      summary: Create a webhook
      tags:
      - Webhooks
      responses:
        '201':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - write:webhooks
  /webhooks/{webhookId}:
    get:
      operationId: Webhooks_Get2
      summary: Get a webhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:webhooks
    patch:
      operationId: Webhooks_Patch
      summary: Update a webhook
      tags:
      - Webhooks
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - write:webhooks
    delete:
      operationId: Webhooks_Delete
      summary: Delete a webhook
      tags:
      - Webhooks
      responses:
        '204':
          description: Deleted.
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - write:webhooks
  /webhooks/{webhookId}/ping:
    post:
      operationId: Webhooks_PingWebhook
      summary: Ping a webhook
      tags:
      - Webhooks
      responses:
        '201':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - write:webhooks
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2. All API requests must be authenticated.
      flows:
        clientCredentials:
          tokenUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
        authorizationCode:
          authorizationUrl: https://account.stubhub.com/authorize
          tokenUrl: https://account.stubhub.com/oauth2/token
          refreshUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
            read:payment: Read-only access to the user's payments.
            read:sales: Read access to the user's sales.
            write:sales: Write access to the user's sales (confirm and fulfill sales).
            read:sellerlistings: Read access to the user's listings.
            write:sellerlistings: Write access to the user's listings (create and update listings).
            read:webhooks: Read access to the user's webhooks.
            write:webhooks: Write access to the user's webhooks.
            write:requestedevents: Write access to the user's requested events.
