# Harvested from https://developer.stubhub.com/api-reference/catalog (Redoc SSR)
# method: searched  source: developer.stubhub.com  generated: 2026-07-21
openapi: 3.0.3
info:
  title: StubHub Catalog API
  version: v2
  description: StubHub Catalog API — search and read the public catalog of events, categories, and venues.
  contact:
    name: StubHub API Support
    email: api.support@stubhub.com
    url: https://developer.stubhub.com/
  x-media-type: application/hal+json
servers:
- url: https://api.stubhub.net
  description: Production
- url: https://sandbox.api.stubhub.net
  description: Sandbox
security:
- oauth2: []
tags:
- name: Categories
- name: Events
- name: Venues
paths:
  /catalog/categories/map:
    get:
      operationId: Categories_MapCategory
      summary: Search categories
      tags:
      - Categories
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': &id001
          description: Bad Request. Error `code` may be https_required, user_agent_required, invalid_request_body, or validation_failed.
          content:
            application/hal+json: {}
        '401': &id002
          description: Unauthorized. The request is not authenticated.
          content:
            application/hal+json: {}
        '403': &id003
          description: Forbidden. Error `code` may be insufficient_scope, invalid_seller_listing_action, create_listing_not_allowed,
            or invalid_delete.
          content:
            application/hal+json: {}
        '500': &id004
          description: Internal Server Error (`internal_server_error`).
          content:
            application/hal+json: {}
      security:
      - oauth2:
        - write:requestedevents
  /catalog/events:
    get:
      operationId: Events_GetEvents
      summary: List events
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - read:events
    put:
      operationId: Events_GetEventsByEventIds
      summary: List events by event ids.
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - read:events
  /catalog/categories/{categoryId}/events:
    get:
      operationId: Events_GetEventsByCategoryId
      summary: List events by category id.
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:events
  /catalog/events/external_mappings/{platform}/{externalEventId}:
    get:
      operationId: Events_GetEventByExternalEventId
      summary: Get an event on the StubHub platform using an identifier from an external platform.
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
      - name: externalEventId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:events
  /catalog/events/{eventId}:
    get:
      operationId: Events_GetEvent
      summary: Get an event
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:events
  /catalog/events/search:
    get:
      operationId: Events_SearchEvents
      summary: Search events
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - read:events
  /catalog/categories/{categoryId}/allevents:
    get:
      operationId: Events_GetAllEventsByCategoryId
      summary: Get all events under a CategoryId
      tags:
      - Events
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:events
  /catalog/mapevent:
    post:
      operationId: Events_MapEvent
      summary: Map request to StubHub Event, Venue and Category
      tags:
      - Events
      responses:
        '201':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - write:requestedevents
  /catalog/venues:
    get:
      operationId: Venues_GetVenues
      summary: List venues
      tags:
      - Venues
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      security:
      - oauth2:
        - read:events
  /catalog/venues/{venueId}:
    get:
      operationId: Venues_GetVenue
      summary: Get a venue
      tags:
      - Venues
      responses:
        '200':
          description: Success. Response is `application/hal+json`.
          content:
            application/hal+json: {}
        '400': *id001
        '401': *id002
        '403': *id003
        '500': *id004
      parameters:
      - name: venueId
        in: path
        required: true
        schema:
          type: string
      security:
      - oauth2:
        - read:events
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2. All API requests must be authenticated.
      flows:
        clientCredentials:
          tokenUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
        authorizationCode:
          authorizationUrl: https://account.stubhub.com/authorize
          tokenUrl: https://account.stubhub.com/oauth2/token
          refreshUrl: https://account.stubhub.com/oauth2/token
          scopes:
            read:events: Read-only access to events on the StubHub platform.
            read:payment: Read-only access to the user's payments.
            read:sales: Read access to the user's sales.
            write:sales: Write access to the user's sales (confirm and fulfill sales).
            read:sellerlistings: Read access to the user's listings.
            write:sellerlistings: Write access to the user's listings (create and update listings).
            read:webhooks: Read access to the user's webhooks.
            write:webhooks: Write access to the user's webhooks.
            write:requestedevents: Write access to the user's requested events.
